<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="https://image.flaticon.com/teams/slug/google.jpg">
    <title>About Page</title>
    <link rel="stylesheet" type = "text/css" href="style/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Oswald|Roboto&display=swap" rel="stylesheet">
  </head>
    <script src=""></script>
  </head>
  <body>
    <div id="About">
      <h1 id="aboutheader">ABOUT</h1>
    </div>
    <div class="sidenav">
      <a id = "sidenav3" href="/welcome">Home</a>
      <a id = "sidenav1" href="/about">About</a>
      <a id = "sidenav2" href="/library">Stories</a>
      <a id = "sidenav3" href="/comingsoon">Connect</a>
    </div>
    <br>
    <br>
    <div class="why">
      <h1 >Who we are</h1>
        <p>We are a group of human rights activists from Singapore who are commited to reduce social stigma towards the LGBT community.</p>
      <img class = 'images'src="https://scontent-sin2-2.xx.fbcdn.net/v/t31.0-8/p843x403/21056062_112057679507889_7353531956992967633_o.png?_nc_cat=100&_nc_ht=scontent-sin2-2.xx&oh=48f5eb509f02b97bef7f4d2d1866d27e&oe=5D830A36" class="aboutpic">
      <h1 >Our mission</h1>
      <p>To support the pride movement and to make the world a better place by promoting inclusiveness and LGBT acceptance.</p>
      <img class = 'images'src="https://dg.imgix.net/lgbt-basics-qkcntcaw-en/landscape/lgbt-basics-qkcntcaw.jpg?ts=1467229297&ixlib=rails-3.0.2&auto=format%2Ccompress&fit=min&w=700&h=394&dpr=2&ch=Width%2CDPR" class="aboutpic">
      <h1 >Why</h1>
      <p>Even in the year 2019, society at large is not very accepting of LGBT individuals. This is a pertinent social problem. We believe that in this age of interconnectiveness and progressiveness, discrimination should not be a social issue. Hence, we created this site with the lofty goal of ending hate and discrimination towards the LGBT community.</p>
      <p>We also hope to build a welcoming community of people who are kind and supporting towards each other.</p>
    <br>
      <h1 >Our motto</h1>
      <p>Out Of The Closet #OOTC</p>
    <br>
      <h1 >Our values</h1>
      <p>Love, Kindness, Pride</p>
      <img class = 'images'src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThxUqzbllLko-2Vrc7CI4Zek7z0voU-qiMmc37f0RhB4peQ4xo" class="aboutpic">
    </div>
  </body>
</html>
