<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type = "text/css" href="style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Oswald|Roboto&display=swap" rel="stylesheet">
  </head>
  <body id ="welcome">
    <div id='title'>
    <span id = 'color1'>G</span><span id = 'color2'>E</span><span id = 'color3'>T </span><span id = 'color4'>O</span><span id = 'color5'>U</span><span id = 'color6'>T </span><span id = 'color1'>O</span><span id = 'color2'>F </span><span id = 'color3'>T</span><span id = 'color4'>H</span><span id = 'color5'>E </span><span id = 'color6'>C</span><span id = 'color1'>L</span><span id = 'color2'>O</span><span id = 'color3'>S</span><span id = 'color4'>E</span><span id = 'color5'>T</span>
    <div class="sidenav">
      <a id = "sidenav1" href="http://localhost:8080/comingsoon">About</a>
      <a id = "sidenav2" href="#">Stories</a>
      <a id = "sidenav3" href="#">Connect</a>
    </div>
  </div>
  <div id="why" class= "main">
  <h1>Why should you come out of the closet?</h1>
  <br>
  <h3>1. You will make new friends</h3>
  <p>There are definitely difficult aspects to coming out. You will face challenges that you've never dealt with before. But the cool thing about all that hardship is that it has created a tight-knit community of people who will have your back when you are suffering. They will know what you are going through and they will help you. They will keep you safe, and you will all look back later and laugh at those haters. Also, our city just happens to have a ton of gay stuff to do. From celebrating Pride to just walking down to the bar, you have a million opportunities to meet your new friends.</p>
  <img class = 'images' src ='https://media.npr.org/assets/img/2015/06/28/ap_240969580256-f689118e32319d5fbff3c41f92f68b82181dbca2-s800-c85.jpg'>
  <br>
  <h3>2. You will find someone who loves you (or at least someone who smells nice to make out with)</h3>
  <p>Your sexuality is about a lot of things, but one of the really key ones is sex. Whether you want to have sex with boys or girls or people who don't fit within the cisgender binary, it is never, ever going to happen until you tell them. Same thing goes for love. It is not a coincidence that saying, "I love you," for the first time has been canonized as one of the most thrilling, romantic moments in a new relationship. Verbalizing your feelings is sexy. Honesty is sexy. Give this gift to your lover and to yourself.</p>
  <img class = 'images' src ='https://timedotcom.files.wordpress.com/2019/03/gettyimages-920723324-1.jpg'>
  <br>
  <h3>3. Being out is fun</h3>
  <p>You and your new friends and your new lover will all hang out together and go on adventures and it will be great. It will be relaxing. It won't be like those parties in the past where you've spent the whole time feeling like you have toilet paper stuck to your shoe, like everyone is staring at you and analyzing you. In fact, you'll forget about yourself altogether and just be. When you go home at the end of the night (or in the morning when the sun is just rising) you will start to come back into your body and the realization of how much fun you just had and how happy you felt will get you buzzed.</p>
  <img class = 'images' src ='https://static.euronews.com/articles/stories/03/15/34/58/880x495_cmsv2_ddd9e572-0ca1-5f6f-afde-5661d406d0de-3153458.jpg'>
  <br>
  <h3>4. You deserve it</h3>
  <p>This is the biggest, strongest, most important reason ever. You deserve it. You deserve to be you -- vividly, loudly, unapologetically you. You will always deserve it, even when you let a friend down or don't take your dog on enough walks or have a gigantic pimple. It does not matter how bad you feel about yourself -- do not ever deprive yourself of your own right to exist.</p>
  <img class = 'images' src ='https://evolverinc.com/wp-content/uploads/2017/06/lgbt-pride-month-2017-evolve.jpg'>
  <br>
  </div>
  <div class = 'main'>
    <img height= 10% width = 10% src="http://weartheribbon.org/wp-content/uploads/2017/08/big-ribbon.png" alt="a-chewing-alpaca">
    <div class="form-style-6">
      <h1><span id = 'color1'>G</span><span id = 'color2'>E</span><span id = 'color3'>T </span><span id = 'color4'>O</span><span id = 'color5'>U</span><span id = 'color6'>T </span><span id = 'color1'>O</span><span id = 'color2'>F </span><span id = 'color3'>T</span><span id = 'color4'>H</span><span id = 'color5'>E </span><span id = 'color6'>C</span><span id = 'color1'>L</span><span id = 'color2'>O</span><span id = 'color3'>S</span><span id = 'color4'>E</span><span id = 'color5'>T</span></h1>
      <form method="post" class = 'style6' action="/memeresult">
        <input type="text" name="userName" placeholder="Your Name" />
        <textarea name="userStory" placeholder="Type your Story"></textarea>
        <input type="submit" value="GET OUT OF THE CLOSET NOW" />
      </form>
    </div>
  </body>
</html>
