<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type = "text/css" href="style/style2.css">
  </head>
  <body>
    <h1>hello</h1>
    <img height= 10% width = 10% src="https://meccha-japan.com/20939-large_default/nendoroid-noriaki-kakyoin-jojo-s-bizarre-adventure-stardust-crusaders.jpg" alt="a-chewing-alpaca">
    <h2>Welcome to my fortune teller</h2>
    <form method="post" action="/predict">
      <select name="user_astrological_sign">
        <option value="Aquarius">Aquarius</option>
        <option value="Pisces">Pisces</option>
        <option value="Aires">Aires</option>
        <option value="Taurus">Taurus</option>
        <option value="Gemini">Gemini</option>
        <option value="Cancer">Cancer</option>
        <option value="Leo">Leo</option>
        <option value="Virgo">Virgo</option>
        <option value="Libra">Libra</option>
        <option value="Scorpio">Scorpio</option>
        <option value="Sagittarius">Sagittarius</option>
        <option value="Capricorn">Capricorn</option>
      </select>
      <input type="submit" value="Go!">
    </form>
  </body>
</html>
