<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="https://image.flaticon.com/teams/slug/google.jpg">
    <title>Welcome</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type = "text/css" href="style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Oswald|Roboto&display=swap" rel="stylesheet">
  </head>
  <body id ="welcome">
    <div id='title'>
    <pre>Life is more than struggles</pre>
    <div class="sidenav">
      <a id = "sidenav3" href="/welcome">Home</a>
      <a id = "sidenav1" href="/comingsoon">About</a>
      <a id = "sidenav2" href="/library">Stories</a>
      <a id = "sidenav3" href="/media">Social Search</a>
    </div>
  </div>
  <div class="why" class= "main">
  <h1 class = "text_title">Consequences of not being able to overcome life struggles is something we dismiss because we think it's normal. Yes it is, but if don't overcome them, it's not normal anymore and individuals are getting more ignorant about this. This is where it becomes our role to change this and bring about the urgency of this matter that needs to be addressed</h1>
  <br>
  <h3>New York Times, Sixth Tone China, Straits Times Singapore and many other newspaper companies in various countries have account for the growing issue of depression faced by children and adults alike.
</h3>
  <p>In America, Most American teenagers — across demographic groups — see depression and anxiety as major problems among their peers, a new survey by the Pew Research Center found. The survey found that 70 percent of teenagers saw mental health as a big issue. Fewer teenagers cited bullying, drug addiction or gangs as major problems; those from low-income households were more likely to do so. The consistency of the responses about mental health issues across gender, race and income lines was striking, said Juliana Horowitz, an associate director of research at the center. The survey also asked respondents if they considered alcohol consumption or teen pregnancy to be major problems among their peers. Half of the teenagers from households earning less than $30,000 said alcohol was a major problem; that number decreased to 43 percent among teenagers in households earning more than $75,000.

Teenagers diverged most drastically across income lines on the issue of teen pregnancy. Fifty-five percent of teenagers in lower-income households said it was a major problem among their peers. Just 22 percent of teenagers in wealthier households agreed.
The survey of 920 teenagers ages 13 to 17 in the United States was conducted online and by phone in the fall. In their report, the researchers broke down results by income level and gender but not race or ethnicity, citing the small sample size.

Some psychologists have tied a growth in mental health issues among teenagers to increased social media use, academic pressure and frightening events like terror attacks and school shootings, which are also life struggles that people may think do not exist but they do, and we do. Teenagers who grew up in the post-9/11 era, and amid many school shootings, may have anxiety tied to an environment filled with dire warnings about safety, said Philip Kendall, director of the Child and Adolescent Anxiety Disorders Clinic at Temple University in Philadelphia.

  </p>
  <img class = 'images' src ='https://s3.amazonaws.com/user-media.venngage.com/1021089-3a49a491538a3c3c20e4771890cbbe4b.png'>
  <br>
  <p>Another major stressor is constant surveillance by peers on social media, and the “fear of missing out” it can generate, he added. Again, he said, guidance about how to understand social media — for example, a person taking 50 photos to get one perfect image — can help to dispel anxiety.
Increased rates of mental health issues could also be tied to better screening practices, noted Lynn Bufka, an associate executive director at the American Psychological Association.
</p>
  <img class = 'images' src ='https://www.mentalhealth.org.uk/sites/default/files/children-young-people.jpg'>
  <br>
  <p>Well, that was just about teenagers, what about adults? For example in China, The findings of our survey suggest that most mental disorders have become more common across China in the past 30 years,” the authors — led by Huang Yueqin, director of the Division of Social Psychiatry and Behavioral Medicine at Peking University’s Institute of Mental Health — write in the report. The study was funded by China’s National Health Commission and the Ministry of Science and Technology.
The China Mental Health Survey, the first results of which were published in peer-reviewed journal The Lancet Psychiatry this week, is the country’s first nationally representative survey on mental disorders. From 2013 to 2015, researchers interviewed and screened 32,552 people in 31 provincial-level regions for mood disorders, anxiety disorders, alcohol- and drug-use disorders, schizophrenia, eating disorders, and dementia.
In China, there is still significant stigma surrounding mental health issues, with many barriers to receiving treatment or support. According to the World Health Organization, the country has just 1.7 psychiatristsper 100,000 people, compared with 12 psychiatrists per 100,000 people in the United States. China’s first mental health law came into effect in 2013, aimed at safeguarding the interests of people with mental health disorders and improving procedures, admissions, and treatment. In the years since, the State Council — China’s Cabinet — has affirmed that it plans to improve the system.
</p>
  <img class = 'images' src ='http://imwithgeekarchive.weebly.com/uploads/1/2/7/2/12727119/9343743.png?327'>
  <br>
  <p>Based on the results of the survey, the researchers estimated that 16.6 percent of Chinese adults had experienced mental illness at some point in their lives, a much higher rate than in previous surveys, which were limited in scope. Anxiety disorders were the most common. Also on the rise was depression, which had affected 6.9 percent of those surveyed over the course of their lives and 3.6 percent in the previous 12 months.
The report speculates that the rise in the rate of mental disorders may be partly attributed to previous surveys using different diagnostic criteria and methodologies. It also points to a greater willingness among patients to acknowledge symptoms; previously, many were more likely to conceal their symptoms due to social stigmas.
However, the report also notes that “rapid social change is likely to bring about a general increase in psychological pressure and stress.” China’s prevalence of major depressive disorder was similar to the prevalence in high-income countries, though China had a substantially lower prevalence of panic attacks than developed countries.
Among the population aged 65 years or older, the survey estimated that dementia rates across China were 5.6 percent, lower than the 10 percent prevalence of Alzheimer’s disease and other forms of dementia in the United States. As China’s population ages, mental health care for the elderly will come under serious strain: A 2018 study found that people aged over 65 are seven times more likely to take their own lives.
</p>
  <img class = 'images' src ='https://img.dunyanews.tv/images/userfiles/19-5.jpg'>
<br>
  <p>
The survey also examined the prevalence of psychotic disorders such as schizophrenia and estimated that such disorders were relatively uncommon at only 0.7 percent of the Chinese population. The report noted that the prevalence of schizophrenia or psychotic disorders may be underestimated due to their diverse symptoms and social stigma, however.
Compared with major developed countries, the percentage of Chinese people who will suffer from mental illness at some point in their lives is still relatively low, but the large population means it will nonetheless impact a huge number of people, the researchers write. “The Chinese Government should pay more attention to mental health care,” the report says. Zhang Hongxia and Ji Jianlin of the department of psychological medicine at Fudan University agreed, writing “mental problems such as anxiety disorders deserve greater public and governmental attention” in a commentary published alongside the report.
“Current knowledge of the mental health status of almost a fifth of the world’s population is crucial for understanding global mental health concerns,” the report says. To many, suicides seem to be the most easiest and convenient solution but even the courage it takes to do this is a great feat itself, it is a great indicator to show to extent at which overcoming life struggles have become so tough and sometimes we just can’t bear enduring it anymore.

</p>
  <img class = 'images' src ='https://hashtaglegend.com/storage/app/media/2018%20Articles/January%202018/Mental%20Health/hk-mental-health-conference-legend.jpg'>
  <br>
  <p>
    Yes, we understand. We don’t know each other here but we are connected by the problems we face and the emotions we feel. We do not need to be alone. Sometimes more than someone we know, we need a stranger who can simply listen to our voice instead of taking in our appearance to and here is where we can do that. Here is where we can seek help and make friends. Here is where connections are more real that the ones we have in reality. Here is where you can start anew and help those who are facing the same situation as you.
  </p>
    <img class = 'images' src ='https://66.media.tumblr.com/8782911e5aa7f8d856082fdf2a84827f/tumblr_p7uhqgn9D31wrvtj5o1_400.jpg'>
  <br>
  </div>
  <div class = 'main'>
    <div class="form-style-6">
      <h1 class = "story_text">Share your struggles here</h1>
      <form method="post" class = 'style6' action="/memeresult">
        <input type="text" name="userName" placeholder="Your Name (Leave blank for Anon)" />
        <input type="text" name="userEmail" placeholder="Your Email (optional)" />
        <textarea name="userStory" placeholder="Type your Story"></textarea>
        <input type="submit" value="Submit your story now" />
      </form>
    </div>
  </body>
</html>
